
.kube-browse {
    margin: 10px;
}

.kube-service {
    border-color: #D0D0D0;
    border-width: 1px;
    border-style: solid;
    background-color: #F0F0F0;
    border-bottom-width: 2px;
    border-bottom-color: #F8F8F8;
    border-radius: 4px 4px 0 0;
    max-width: 700px;
    margin-bottom: 3px;
}

.kube-deploy-config {
    border-color: #D0D0D0;
    border-width: 1px;
    border-radius: 4px;
    max-width: 700px;
    background-color: #F8F8F8;
    text-align: center;
    padding: 10px;
    padding-right: 0px;
}

.kube-deployment {
    text-align: left;
    border-color: #D0D0D0;
    background-color: #F0F0F0;
    border-width: 1px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 60px;
}

.kube-deployment h3 {
    margin-bottom: 15px;
}

.kube-pod {
    text-align: center;
    border-color: #D0D0D0;
    background-color: white;
    border-width: 1px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    max-width: 200px;
}

.kube-pod:first-child {
    margin-left: 20px;
}

.kube-deployment .fa-li {
    font-size: 20px;
}

.kube-deployment ul {
    line-height: 25px;
    margin-left: 50px;
}

.kube-browse code {
    color: black;
    background-color: inherit;
}

.kube-ports {
    float: right;
    border-top: 1px solid #D0D0D0;
    margin-top: 50px;
    width: 60px;
}
