.kube-icon{
  background-image: url(icon.png);
  background-repeat: no-repeat;
  background-position:  center top;
  background-size: 18px auto;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.kube-icon.container{
  background-position:  center bottom;
  }


.kube-browse {
/*    margin: 10px;
    max-width: 700px;*/
    margin-bottom: 40px;
}

.kube-browse .panel p:last-child {
    margin-bottom: 0;
}

.kube-board{
  background: rgba(0,0,0,.02);
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 1px;
  margin-bottom: 2px;
}


.kube-deploy-config {
    margin-bottom: 35px;
}

.kube-deployment{
  background: #fff;
}

.kube-deployment .panel-title{font-weight: normal;}


.kube-pod{
  min-height: 84px;
  text-align: center;
}

.kube-pod-fail{
  border-color:#af151a
  }

/*
.kube-service {
    border-color: #D0D0D0;
    border-width: 1px;
    border-style: solid;
    background-color: #F0F0F0;
    border-bottom-style: none;
    border-radius: 4px 4px 0 0;
    margin-bottom: 4px;
}

.kube-deploy-config {
    border-color: #D0D0D0;
    border-width: 1px;
    border-radius: 4px;
    background-color: #F8F8F8;
    text-align: center;
    padding: 10px;
    padding-right: 0px;
    margin-bottom: 35px;
}

.kube-deployment {
    text-align: left;
    border-color: #D0D0D0;
    background-color: #F0F0F0;
    border-width: 1px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}
*/


.kube-browse > .kube-deployment {
    margin-bottom: 35px;
}

/*
.kube-deploy-config.kube-small {
    padding-right: 10px;
}
*/

.kube-deploy-config .kube-deployment {
    margin-right: 60px;
}

.kube-deploy-config.kube-small .kube-deployment {
    margin-right: 0px;
}

.kube-deployment h3 {
    margin-bottom: 15px;
}


/*
.kube-pod {
    text-align: center;
    border-color: #D0D0D0;
    background-color: white;
    border-width: 1px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    max-width: 200px;
    min-height: 65px;
}

.kube-pod-large {
    max-width: none;
}

.kube-pod .row {
    margin: 0px;
}

*/

/*
.kube-container {
    border-top: 1px dashed #D0D0D0;
    border-left: 1px dashed #D0D0D0;
}

.kube-container.active {
    border-top-style: solid;
    border-left-color: #D0D0D0;
}

.kube-container:first-child {
    border-left: none;
}
*/

.kube-pod p:last-child {
    margin-bottom: 0px;
}

.kube-deployment .fa-li {
    font-size: 20px;
}

.kube-deployment ul {
    line-height: 25px;
    margin-left: 50px;
}

.kube-deployment .row, .kube-pod .row, .kube-deploy-config .row {
    margin: 0px;
}

.kube-browse code {
    color: black;
    background-color: inherit;
}

.kube-ports {
    float: right;
    border-top: 1px solid #D0D0D0;
    margin-top: 50px;
    width: 70px;
    margin-right: -10px;
    text-align: center;
}

.kube-browse .row > div {
    padding-left: 5px;
    padding-right: 5px;
}

.kube-browse > .row > div:first-child {
    padding-left: 20px;
}

.kube-browse > .row > div:last-child {
    padding-right: 20px;
}

.kube-status-icon {
    float: right;
    line-height: 100%;
}

.kube-status-icon .kube-failed {
    color: #af151a;
}


.kube-pod > .kube-status-icon {
    font-size: 12px;
}

.kube-pod > .kube-status-icon .fa-exclamation-triangle {
    font-size: 15px;
}

.kube-deployment > .kube-status-icon {
    font-size: 24px;
}

.kube-deploy-config > .kube-status-icon {
    font-size: 24px;
    margin-right: 10px;
}

.kube-deploy > .kube-status-icon {
    font-size: 24px;
}

.kube-browse .kube-clickable {
    cursor: pointer;
}

.kube-browse div.active {
    border-color: #0099D3;
}

/* Details sidebar */

.kube-details .affix {
    top: 20px;
}

.kube-details {
    padding-right: 0px;
}

.kube-details .sidebar-header,
.kube-details .sidebar-content {
    margin-right: 0px;
}

.kube-details .sidebar-content {
    padding-right: 10px;
}

.sidebar-content > *:first-child {
    margin-top: 10px;
}

.sidebar-content dl.dl-horizontal dt {
    width: 80px;
    text-align: left;
}

.sidebar-content dl.dl-horizontal dd {
    margin-left: 90px;
}

.kube-details .kube-status-icon {
    font-size: 24px;
    margin-right: 10px;
    float: left;
}

.kube-details h3 {
    padding-top: 3px;
    margin-top: 15px;
}
